/*.article-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}*/
.article{
    padding-bottom: 36px;
    border-bottom: 1px;
    border-style: solid;
    margin-bottom: 36px;
    flex-direction: column;
    /*flex-grow: 1;*/
    display: flex;
}
.tag {
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}
/*/////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 576px) {
/*/////////////////////////////////////////////////////////////*/
.page-index #intro{
    padding: 76px 12px 20px 12px;
    margin: -76px -12px 20px -12px;
}
.page-index #intro,
#titlebar.sticky{
    background-color: #346672!important; 
}
.page-index #intro,
#titlebar div a,
.page-index #intro p{
    color: #FFF!important;
}
.page-index #intro .img{
     padding-bottom: 68%;
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/avatar2.png)!important;
}
/*/////////////////////////////////////////////////////////////*/
}