.article-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.column {
    flex: 0 1 calc(33.33% - 20px); /* Adjust width and margin as needed */
    display: flex;
    flex-direction: column;
}
.article{
    margin-bottom: 24px;
    flex-direction: column;
    /*flex-grow: 1;*/
    display: flex;
}
.tag {
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}
.date {
    color: #555;
}
