*, body{
    font-family: 'Raleway';
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 18px;
    line-height: 160%;
    overflow: initial;
    -webkit-font-smoothing: subpixel-antialiased !important;
    }
/*/////////////////////////////////////////////////////////////*/
/* FONT SIZE */
/*/////////////////////////////////////////////////////////////*/
h1, h2, h3 a{
    font-family: 'Lora';
}
p.l, p.l span,
h3,
#intro h2{
    font-family: 'Merriweather';
}
h3,
#intro h2{
    font-weight: 700;
}
*, body, p, p b, h1, h2, h3, h4{
        font-size: 10px;
}
@media only screen and (max-width: 424px) {
*, body, p, b, h1, h2, h3, h4{
    font-size: 9.5px;
    text-rendering: optimizeLegibility;
}
}
#intro h2{ font-size: 4.2rem; letter-spacing: -0.5pt; }
h1,h2, h3,h4{
    line-height: 140%; 
}
h1{ font-weight: 400; }
h3 { font-size: 2.4rem; line-height: 175%; letter-spacing: -0.25pt; }
.post h3, p.l { font-size: 2rem; line-height: 175%; }
.article h3 { font-size: 2rem; line-height: 160%; }
h2, h1{ font-size: 1.8rem; line-height: 160%; }
ul li, ol li, #titlebar nav a, .navi nav a:first-of-type, p{ font-size: 1.6rem; }
#skills ul li, .post p, .article p, h4, #posts nav a, .navi nav a, .navi nav.links a{ font-size: 1.3rem; }
#showcase h3 a > span,
h3 a, 
p.l span, 
p b,
p u, 
p a, 
ol li a,
li b{
    font-size: 1em;
}
#showcase h3 a > span,
.special ul li h3:before{
    font-size: 0.68em;    
} 
@media only screen and (max-width: 992px) {
    /*p.l { font-size: 2.0em; line-height: 175%; }
    #titlebar nav a, .navi nav.links a{ font-size: 1.8em; }*/
    #posts p{ font-size: 1.5em; }
}
@media only screen and (max-width: 768px) {
    #intro h2{ font-size: 2.8rem; letter-spacing: -0.5pt; }
}
/*/////////////////////////////////////////////////////////////*/
.navi nav.selected a:first-of-type{
    font-weight: 700;
}
h1, h3,h4,.navi nav a {  
    font-weight: 400;
}
/*/////////////////////////////////////////////////////////////*/
/* COLOR */
/*/////////////////////////////////////////////////////////////*/
a{
    color: #4a90e2;
}
#skills ul li{
    color: #FFF;
}
/*/////////////////////////////////////////////////////////////*/
/* BACKGROUND */
/*/////////////////////////////////////////////////////////////*/
.fullscreen-div {
    background-color: rgba(52, 102, 114, 0.96);   
    /*background-color: #346672;*/
}
#skills ul li{
 background-color: #000;
}
#skills ul li{
background-color: #89A6AE;
}
.img.bg-non{
    background-color: transparent!important;
}
/*/////////////////////////////////////////////////////////////*/
.img{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
#posts1 .post:nth-child(1) .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/post1_1.png);
} 
#posts1 .post:nth-child(2) .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/post1_2.png);
} 
#posts1 .post:nth-child(3) .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/post1_3.png);
} 
#posts2 .post:nth-child(1) .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/post2_1.png);
} 
#posts2 .post:nth-child(2) .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/pos2_2.png);
} 
#posts2 .post:nth-child(3) .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/post2_3.png);
} 
#posts3 .post:nth-child(1) .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/post3_1.png);
} 
#posts3 .post:nth-child(2) .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/post3_2.png);
} 
#posts3 .post:nth-child(3) .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/post3_3.png);
} 
#posts4 .post:nth-child(1) .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/post4_1.png);
} 
#posts4 .post:nth-child(2) .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/post4_2.png);
} 
#posts4 .post:nth-child(3) .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/post4_3.png);
} 
/*/////////////////////////////////////////////////////////////*/
    #showcase .scrollable,
    .img,
    #showcase h3 a > span,
    #posts nav a{
        border-radius: 4px;
    }
    #skills ul li,
    #titlebar .avatar,
    .navi .back{
        border-radius: 100px;
    }
/*/////////////////////////////////////////////////////////////*/
/* IMGS */
/*/////////////////////////////////////////////////////////////*/
.img{
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    padding-bottom: 75%; /* 16:9 aspect ratio (9 / 16 * 100) */
    display: block;
}
.img.sm{
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
}
.img.xs{
    padding-bottom: 30%; /* 16:9 aspect ratio (9 / 16 * 100) */
}
/*/////////////////////////////////////////////////////////////*/

/* LIGHT */

/*/////////////////////////////////////////////////////////////*/
/* COLOR */
/*/////////////////////////////////////////////////////////////*/
.section h4,
#posts p,
#titlebar nav a,
.navi a{
    color: rgba(0, 0, 0, 0.5);   
}
#titlebar.sticky a h1, 
#posts nav a:hover,
h3 a,
.navi nav.selected a{
    color: rgba(0, 0, 0, 0.92);   
}
.navi nav.selected a{
    color: rgba(0, 0, 0, 1.0);   
}
a h1,
#posts nav a,
.section ul li,
.section p{
    color: rgba(0, 0, 0, 0.68);
}
@media only screen and (max-width: 992px) {
    .navi nav.links{ color rgba(0, 0, 0, 0.92);  }
}
/*/////////////////////////////////////////////////////////////*/
#titlebar div a,
h3 a,
nav a{
    color: #000;
}
.header,
#project ul span,
.special ul li h3:before{
    color: #FFF;
}
.icn{
    color: #346672;
}
/*/////////////////////////////////////////////////////////////*/
/* BORDERS */
/*/////////////////////////////////////////////////////////////*/
.article,
.navi nav.links,
.section{
    border-color: #EFEFEF;
}
 #posts nav a{
    border-color: #E3E9F0;
 }
 /*/////////////////////////////////////////////////////////////*/
/* BACKGROUND */
/*/////////////////////////////////////////////////////////////*/
.navi .back,
.section .img{
    background-color: #E9E9ED;
}
#titlebar .avatar,
#posts nav a.selected,
#showcase h3 a > span{
    background: #E3E9F0    
}
.special ul li{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.68) 0%, rgba(255, 255, 255, 0.68) 100%), #E9E9ED;
 }
.special.v1 ul li{
    background: rgba(0, 0, 0, 0.68);
}
#titlebar.sticky,
.img.v1{
    background-color: #FFF;
}
/*/////////////////////////////////////////////////////////////*/
.page-index #intro .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/index-light.png);
}
.page-about #intro .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/about-light.png);
}   
/*/////////////////////////////////////////////////////////////*/

/* DARK */

/*/////////////////////////////////////////////////////////////*/
/* COLOR */
/*/////////////////////////////////////////////////////////////*/
.dark-mode .section h4,
.dark-mode #posts p,
.dark-mode #titlebar nav a,
.dark-mode .navi a{
    color: rgba(255, 255, 255, 0.5);   
}
.dark-mode #titlebar.sticky a h1, 
.dark-mode #posts nav a:hover,
.dark-mode h3 a,
.dark-mode .navi nav.selected a{
    color: rgba(255, 255, 255, 0.92);   
}
.dark-mode .navi nav.selected a{
    color: rgba(255, 255, 255, 1.0);   
}
.dark-mode a h1,
.dark-mode #posts nav a,
.dark-mode .section ul li,
.dark-mode .section p{
    color: rgba(255, 255, 255, 0.68);
}
@media only screen and (max-width: 992px) {
    .dark-mode .navi nav.links{ color rgba(255, 255, 255, 0.92);  }
}
/*/////////////////////////////////////////////////////////////*/
.dark-mode .icn,
.dark-mode,
.dark-mode #titlebar div a,
.dark-mode h3 a,
.dark-mode nav a{
    color: #FFF;
}
.dark-mode #skills ul li,
.dark-mode .header,
.dark-mode #project ul span,
.dark-mode .special ul li h3:before{
    color: #000;
}
/*/////////////////////////////////////////////////////////////*/
/* BORDERS */
/*/////////////////////////////////////////////////////////////*/
.dark-mode .article,
.dark-mode .navi nav.links,
.dark-mode .section{
    border-color: rgba(0, 0, 0, 0.68);
}
.dark-mode #posts nav a{
    border-color: rgba(0, 0, 0, 0.68);
 }
 /*/////////////////////////////////////////////////////////////*/
/* BACKGROUND */
/*/////////////////////////////////////////////////////////////*/
.dark-mode #titlebar.sticky,
.dark-mode{
    background-color: #252D34;
}
.dark-mode .navi .back,
.dark-mode .section .img{
    background-color: rgba(0, 0, 0, 0.68);
}
.dark-mode #titlebar .avatar,
.dark-mode #posts nav a.selected,
.dark-mode #showcase h3 a > span{
    background: #666;    
}
.dark-mode .special ul li{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.68) 0%, rgba(255, 255, 255, 0.68) 100%), #E9E9ED;
 }
 .dark-mode .special.v1 ul li{
    background: rgba(255, 255, 255, 0.68);
}
.dark-mode .img.v1{
    background-color: #666;
}
/*/////////////////////////////////////////////////////////////*/
.dark-mode .page-index #intro .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/index-dark.png);
}
.dark-mode .page-about #intro .img{
    background-image: url(https://peteroper.github.io/portfolio/assets/imgs/about-dark.png);
}  