:root {
    /* Colors */
    --primary-color: #88A4AA;
    --secondary-color: #E6E6EA;
    --accent-color: #D45D3C;
    --background-color: #F1F1F3;
    --background-color: #315D68;
    --text-color: #444;
    --light-text-color: #666;
    --invert-text-color: #FFF;
    /* Dark Mode */
    /*--primary-color: #88A4AA;
    --secondary-color: #000;
    --accent-color: #D23F3F;
    --background-color: #2D2D2D;
    --text-color: #E1E1E1;
    --light-text-color: #666;
    --invert-text-color: #000;*/
}
/*//////////////////////////////////////////////////*/
/* COLOR */
/*//////////////////////////////////////////////////*/
.brand h1,
.button{
    color: var(--invert-text-color);
}
body,
a{
    color: var(--text-color);
}
.page-index,
.page-index a{
    color: var(--invert-text-color);
}
/*/////////////////////////*/
@media (max-width: 1024px) {

}
/*/////////////////////////*/
#intro .button,
#intro p{
    opacity: 24%;
}
/*//////////////////////////////////////////////////*/
header .language a:hover,
.button:hover,
a{
    text-decoration: none;
}
/*a:hover{
    text-decoration: underline;
}*/
/*//////////////////////////////////////////////////*/
.button{
    font-weight: bold;
}
/*//////////////////////////////////////////////////*/
.brand{
    text-align: center;
}
/*//////////////////////////////////////////////////*/
/* BORDER COLOR */
/*//////////////////////////////////////////////////*/
.button.outline{
    border-style: solid;
}
/*/////////////////////////*/
.button.outline{
    border-width: 1px;
}
header .language a{
    border-width: 0 0 1px 0;
}
/*/////////////////////////*/
.button.outline{
    border-color: var(--text-color);
}
.page-index .button.outline,
footer .button.outline{
    border-color: var(--invert-color);
}
header .language a{
    border-color: rgba(255, 255, 255, 0.25);
}
/*//////////////////////////////////////////////////*/
/* BACKGROUND COLOR */
/*//////////////////////////////////////////////////*/
.menu-icon div{
    background-color: var(--primary-color);
}
header .language a:hover,
.img{
    background-color: var(--secondary-color);
}
.page-index .img{
    background-color: rgba(0, 0, 0, 0.24);
}
.brand h1,
header .language.active a,
.button{
    background-color: var(--accent-color);
}
.page-index .bg-intro,
.page-index .bg-intro a,
header .language a{
    background-color: var(--background-color);
}
header h1 span,
footer,
.brand small{
    background-color: #FFF;
}
.splash{
    background: linear-gradient(to right, #F1F1F3 0%, #E6E6EA 50%);
}

body{
    position: relative;
}
body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('your-image-url.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Apply blur effect */
    opacity: 0.4; /* Fade the background image */
    z-index: -1; /* Keep it behind the content */
}
.page-index .bg-intro{
    background-color: var(--background-color);
    color: #FFF;
}
.bg-journal{
    background-color: #191919;
}
.bg-showcase{
    background-color: #2E2E2E;
}
body,
.bg-intro,
.bg-casestudy1,
.bg-casestudy2,
.bg-casestudy3{
    background-color: #21282D;
    color: #FFF;
}
/*.bg-casestudy-au{
    background: radial-gradient(circle, rgba(235, 85, 5, 0.4) 20%, rgba(0, 58, 126, 0.2) 80%);
    background: radial-gradient(circle, rgba(235, 85, 5, 0.7) 20%, rgba(0, 58, 126, 0.8) 80%);
}*/
.bg-casestudy-adventure{
    background-color: #111;
    color: #FFF;
}
.bg-casestudy-pulse{
    background: linear-gradient(to right, 
    rgba(54, 47, 70, 1), 
    rgba(112, 53, 152, 1), 
    rgba(105, 165, 179, 1), 
    rgba(63, 32, 112, 1)
    );
    color: #FFF;
}
/*/////////////////////////*/
.button.outline{
    background-color: transparent!important;
}
/*//////////////////////////////////////////////////*/
/* BORDER RADIUS */
/*//////////////////////////////////////////////////*/
header h1 span,
.button{
    border-radius: 1000px;
}
.language.button{
    border-radius: 1.25rem;
}
.language.button.active{
    border-radius: 0.75rem;
}
.img{
    border-radius: 2rem;
}
.casestudy.flex .img{
    border-radius: 1.25rem;
}
.brand{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
/*//////////////////////////////////////////////////*/
/* SPACING */
/*//////////////////////////////////////////////////*/
section{
    padding-top: 8rem;
    padding-bottom: 4rem;
}
footer{
    padding-top: 4rem;
    padding-bottom: 8rem;
}
header,
.heading,
.container{
    padding-left: 2rem; 
    padding-right: 2rem;
}
#benefits .col{
    padding: 1.5rem;
}
.brand h1{
    padding: 1.5rem 1rem 1rem 1rem;
}
.brand small{
    padding: 0.75rem 1rem;
}
.button{
    padding: 0.75rem 1.5rem;
}
header .language a,
.button.md{
    padding: 0.5rem 1rem;
}
.button.sm{
    padding: 0.25rem 0.5rem; 
}
.language.button{
    padding: 0;
}
/*/////////////////////////*/
@media (max-width: 1024px) {

}
@media (max-width: 768px) {

}
/*//////////////////////////////////////////////////*/
#intro h2,
#intro p,
.heading{
    margin-bottom: 2rem;
}
h1,
h2,
h3{
    margin-bottom: 1.5rem;
}
.img,
p{
    margin-bottom: 1rem;
}
.heading h2,
.heading h3{
    margin-bottom: 0.25rem;
}
.brand h1,
.brand p,
.container > *:last-child,
.heading > *:last-child{
margin-bottom: 0;
}
/*/////////////////////////*/
@media (max-width: 1024px) {
footer .heading{
    margin-left: 2rem; 
    margin-right: 2rem;
}
}
/*//////////////////////////////////////////////////*/
.flex{
    gap: 2rem;
}
header nav,
header{
    gap: 1rem;
}
/*/////////////////////////*/
@media (max-width: 1024px) {
    header .primary{
       gap: 1.5rem;
    }
}
/*//////////////////////////////////////////////////*/
/* FONT */
/*//////////////////////////////////////////////////*/
body {
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif, "Hiragino Kaku Gothic Pro", "Meiryo", "Microsoft YaHei", "SimSun", "Noto Sans", "Noto Sans CJK", sans-serif;
}
.japanese-text {
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo", "Yu Gothic", sans-serif;
}
.chinese-text {
    font-family: "Microsoft YaHei", "SimSun", "PingFang SC", sans-serif;
}
/*/////////////////////////*/
#intro p{
    font-weight: bold;
}
/*/////////////////////////*/
.heading,
#benefits{
    text-align: center;
}
footer .heading{
    text-align: left;
}
/*/////////////////////////*/
#intro p{
    line-height: 150%;
}
h3,
h4{
    line-height: 130%;    
}
h2{
    line-height: 115%;
}
h1{
    line-height: 100%;
}
/*/////////////////////////*/
h2{
    letter-spacing: -1pt;
}
/*/////////////////////////*/
body{
    font-size: 16px;
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}
@media (max-width: 440px) {
    body {
        font-size: 12px;
    }
}
/*/////////////////////////*/
h1{
    font-size: 1rem;
}
h2{
    font-size: 3rem;    
}
h3{
    font-size: 2.25rem;
}
h4{
    font-size: 1.5rem;
}
#intro p{
    font-size: 1.5rem;
}
p,
li,
dd,
dt,
.button{
    font-size: 1rem;
}
.button.md,
small{
    font-size: 0.8rem;
}
.button.sm{
    font-size: 0.6rem;
}
/*/////////////////////////*/
@media (max-width: 1024px) {
    h2,h3{
        font-size: 2.25rem;
    }
    #intro p{
        font-size: 1.25rem;
    }
}
/*//////////////////////////////////////////////////*/
/* IMAGES */
/*//////////////////////////////////////////////////*/
.img{
    width: 100%;
    aspect-ratio: 16/9;
}
#journal .img{
    aspect-ratio: 3/4;
}
#casestudy-block1 .img{
    aspect-ratio: 1/1;
}
/*/////////////////////////*/
.img{

}
.img{
    padding-bottom: 0!important;
}
/*/////////////////////////*/
.img{
    background-size: 100% auto;
}
.casestudy .img{
    background-size: auto 100%;
}
/*/////////////////////////*/
.img{
    background-position: 50%;
}
.casestudy .img{
    background-position: 0 50%;
}
/*/////////////////////////*/
.img{
    background-repeat: no-repeat;
}
/*//////////////////////////////////////////////////*/
#casestudy-adventure .img{
    background-image: url(../img/showcase-adventure.png);
}
#casestudy-pulse .img{
    background-image: url(../img/showcase-pulse.png);
}
#initial-experience .img,
.casestudy.system .img{
    background-image: url(../img/showcase-system.png);
}
/*//////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////*/