:root {
    /* Colors */
    --primary-color: #315D68;
    --secondary-color: #E6E6EA;
    --accent-color: #D45D3C; /*#88A4AA*/
    --background-color: #F1F1F3;
    --invert-color: #191919;
    --invert-primary-color: #21282D;
    --invert-secondary-color: #29444C;
    --text-color: #444;
    --light-text-color: #666;
    --invert-text-color: #E6E0D0;
    /* Dark Mode */
    /*--primary-color: #88A4AA;
    --secondary-color: #000;
    --accent-color: #D23F3F;
    --background-color: #2D2D2D;
    --text-color: #E1E1E1;
    --light-text-color: #666;
    --invert-text-color: #000;*/
}
/*//////////////////////////////////////////////////*/
/* COLOR */
/*//////////////////////////////////////////////////*/
body,
a{
    color: var(--text-color);
}
.brand h1,
.page-index .button,
.page-index .bg-intro,
.page-index,
.page-index a{
    color: var(--invert-text-color);
}
.page-index h2,
.casestudy,
.casestudy a{
    color: #ECECE4;
}
/*/////////////////////////*/
@media (max-width: 1024px) {

}
/*/////////////////////////*/
.casestudy .content p,
.heading p{
    opacity: 68%;  
}
#showcase .heading,
#journal .heading,
#casestudy .heading,
#intro .button,
#intro p{
    opacity: 24%;
}
/*//////////////////////////////////////////////////*/
header .language a:hover,
.button:hover,
a{
    text-decoration: none;
}
/*a:hover{
    text-decoration: underline;
}*/
/*//////////////////////////////////////////////////*/
.button{
    font-weight: bold;
}
/*//////////////////////////////////////////////////*/
.content h3 a,
.brand{
    text-align: center;
}
/*//////////////////////////////////////////////////*/
/* BORDER COLOR */
/*//////////////////////////////////////////////////*/
.button.outline{
    border-style: solid;
}
/*/////////////////////////*/
.button.outline{
    border-width: 1.25px;
}
header .language a{
    border-width: 0 0 1px 0;
}
/*/////////////////////////*/
.button.outline{
    border-color: var(--text-color);
}
.page-index .button.outline{
    border-color: var(--invert-text-color);
}
header .language a{
    border-color: rgba(255, 255, 255, 0.25);
}
/*//////////////////////////////////////////////////*/
/* BACKGROUND COLOR */
/*//////////////////////////////////////////////////*/
header h1 span,
footer,
.brand small,
.menu-icon div{
    background-color: #FFF;
}
.img{
    background-color: var(--secondary-color);
}
.brand h1,
.button{
    background-color: var(--accent-color);
}
.bg-intro,
.bg-intro a,
header .language a,
.page-index .bg-intro{
    background-color: var(--primary-color);
}
.bg-showcase{
    background-color: var(--invert-color);
}
body{
    background-color: var(--background-color);
}
.page-index body{
    background-color: var(--invert-primary-color);
}
.bg-journal{
    background-color: var(--invert-secondary-color);
}
/*/////////////////////////*/
.button.outline{
    background-color: transparent!important;
}
/*//////////////////////////////////////////////////*/
/* GRADIENTS */
/*//////////////////////////////////////////////////*/
.splash{
    background: linear-gradient(to right, #F1F1F3 0%, #E6E6EA 50%);
}
.bg-casestudy-pulse{
    background: linear-gradient(to right, 
    rgba(54, 47, 70, 1), 
    rgba(112, 53, 152, 1), 
    rgba(105, 165, 179, 1), 
    rgba(63, 32, 112, 1)
    );
    color: #FFF;
}
/*//////////////////////////////////////////////////*/
/* OPACITIES */
/*//////////////////////////////////////////////////*/
.casestudy .content:after,
.heading h2:before, 
.heading h2:after{
    background-color: rgba(255, 255, 255, 0.24);
}
#journal .flex::-webkit-scrollbar-thumb,
.page-index .img{
    background-color: rgba(0, 0, 0, 0.24);
}
/*//////////////////////////////////////////////////*/
/* BORDER RADIUS */
/*//////////////////////////////////////////////////*/
header h1 span,
.button{
    border-radius: 1000px;
}
.language.button{
    border-radius: 1.25rem;
}
.language.button.active{
    border-radius: 0.75rem;
}
.img{
    border-radius: 2rem;
}
.casestudy.flex .img{
    border-radius: 1.25rem;
}
#journal .flex::-webkit-scrollbar-thumb {
    border-radius: 2px;
}
.brand{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
/*/////////////////////////*/
@media (max-width: 768px) {
    .img{
        border-radius: 1.5rem;
    }
}
@media (max-width: 440px) {
    .img{
        border-radius: 1.25rem;
    }
}
/*//////////////////////////////////////////////////*/
/* SPACING */
/*//////////////////////////////////////////////////*/
section{
    padding-top: 8rem;
    padding-bottom: 4rem;
}
#showcase{
    padding-top: 4rem;
}
#journal .flex{
    padding-bottom: 4rem;
}
footer{
    padding-top: 4rem;
    padding-bottom: 8rem;
}
.content,
header,
.heading,
.container{
    padding-left: 2rem; 
    padding-right: 2rem;
}
#journal .content{
    padding-right: 0;
}
.heading{
    padding-bottom: 2rem;
}
#benefits .col{
    padding: 1.5rem;
}
.brand h1{
    padding: 1.5rem 1rem 1rem 1rem;
}
.brand small{
    padding: 0.75rem 1rem;
}
.button{
    padding: 0.75rem 1.5rem;
}
header .language a,
.button.md{
    padding: 0.5rem 1rem;
}
.button.sm{
    padding: 0.25rem 0.5rem; 
}
.language.button{
    padding: 0;
}
/*/////////////////////////*/
@media (max-width: 1024px) {
    body{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media (max-width: 768px) {
    .content
    header,
    .heading,
    .container,
    body{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media (max-width: 440px) {
    section{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    header,
    .heading,
    .container,
    .content{
        padding-left: 0;
        padding-right: 0;
    }
    body{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}
/*//////////////////////////////////////////////////*/
#intro h2,
#intro p,
.heading{
    margin-bottom: 2rem;
}
#journal .flex,
h1,
h2,
h3{
    margin-bottom: 1.5rem;
}
.img,
p{
    margin-bottom: 1rem;
}
.heading h2,
.heading h3{
    margin-bottom: 0.75rem;
}
.brand h1,
.brand p,
.container > *:last-child,
.heading > *:last-child{
margin-bottom: 0;
}
/*/////////////////////////*/
@media (max-width: 1024px) {
footer .heading{
    margin-left: 2rem; 
    margin-right: 2rem;
}
}
/*//////////////////////////////////////////////////*/
.flex{
    gap: 2rem;
}
header nav,
header{
    gap: 1rem;
}
/*/////////////////////////*/
@media (max-width: 768px) {
    #journal .flex{
        gap: 1.5rem;
    }
}
/*/////////////////////////*/
@media (max-width: 440px) {
    #journal .flex{
        gap: 1.25rem;
    }
}
/*//////////////////////////////////////////////////*/
/* FONT */
/*//////////////////////////////////////////////////*/
body {
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif, "Hiragino Kaku Gothic Pro", "Meiryo", "Microsoft YaHei", "SimSun", "Noto Sans", "Noto Sans CJK", sans-serif;
}
.japanese-text {
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo", "Yu Gothic", sans-serif;
}
.chinese-text {
    font-family: "Microsoft YaHei", "SimSun", "PingFang SC", sans-serif;
}
/*/////////////////////////*/
#intro p{
    font-weight: bold;
}
/*/////////////////////////*/
.casestudy p,
.heading,
#benefits{
    text-align: center;
}
#journal h4,
footer .heading{
    text-align: left;
}
/*/////////////////////////*/
#intro p{
    line-height: 150%;
}
h3,
h4{
    line-height: 130%;    
}
h2{
    line-height: 115%;
}
h1{
    line-height: 100%;
}
/*/////////////////////////*/
h2{
    letter-spacing: -1pt;
}
/*/////////////////////////*/
body{
    font-size: 16px;
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}
@media (max-width: 440px) {
    body {
        font-size: 12px;
    }
}
/*/////////////////////////*/
h1{
    font-size: 1rem;
}
h2{
    font-size: 3rem;    
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.15rem;
}
#intro p{
    font-size: 1.5rem;
}
p,
li,
dd,
dt,
.button{
    font-size: 1rem;
}
.button.md,
small{
    font-size: 0.8rem;
}
.button.sm{
    font-size: 0.6rem;
}
/*/////////////////////////*/
@media (max-width: 768px) {
    h2{
        font-size: 2rem;    
    }
    h3{
        font-size: 1.5rem;
    }
    #intro p{
        font-size: 1.25rem;
    }
}
/*//////////////////////////////////////////////////*/
/* IMAGES */
/*//////////////////////////////////////////////////*/
.img{
    width: 100%;
    aspect-ratio: 16/9;
}
#journal .img{
    aspect-ratio: 1/1;
}
@media (max-width: 768px) {
    .img{
        width: 100%;
        aspect-ratio: 4/3;
    }
}
/*/////////////////////////*/
.img{

}
.img{
    padding-bottom: 0!important;
}
/*/////////////////////////*/
#showcase .img,
.img{
    background-size: 100% auto;
}
.casestudy .img{
    background-size: auto 100%;
}
/*/////////////////////////*/
.img{
    background-position: 50%;
}
.casestudy .img{
    background-position: 0 50%;
}
/*/////////////////////////*/
.img{
    background-repeat: no-repeat;
}
/*//////////////////////////////////////////////////*/
#casestudy-adventure .img{
    background-image: url(../img/showcase-adventure.png);
}
#casestudy-pulse .img{
    background-image: url(../img/showcase-pulse.png);
}
#initial-experience .img,
.casestudy.system .img{
    background-image: url(../img/showcase-system.png);
}
/*//////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////*/